<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> page</p>
<!--Article semantic tag to group my about me information together-->
            <article>
                <!--Semantic tag for things I intend on placing on the right side of the screen-->
                <aside>
                    <!--Header element-->
                    <h5>Personal Headshot 2025</h5>
                    <!--Image element to include an image on my website. src is the source of the image and requires an image with that same name to be accessible by the html file-->
                    <img src="/Assets/images/my_headshot.jpg">
                </aside>
                <h3>About me</h3>
                <p>Hi, my name is Daniel Vong. I am a second year Networking and IT student at Ontario Tech University!</p>
                <p>I've developed an interest in the field of cybersecurity ever since I fell victim to a phishing link.</p>
                <p>Ever since then I've made it a goal to ensure that others do not fall victim to cyberthreats as I once did.</p>
            </article>
        </div>
        <%- include ./partials/footer.ejs %>