<!--Calls the partial so that I do not have to paste in the header, footer, and navbar onto each page-->
<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> page</p>
    <!--Article semantic tag to group all blogpost like elements together for easy access in CSS-->
            <article>
                <h3>Intro to Networking 2 Final Project - 2025</h3>
                <p>Networking topology made in packet tracer of a network between Miami, Toronto, Mexico, and Vancouver.</p>
                <p>This project was done to showcase my ability to implement networking concepts such as BGP, OSPF, and inter-vlan routing.</p>
                
                <h3>OOP for IT - University/College course enrolment system - 2025</h3>
                <p>Program designed in Python by myself and four colleagues for course enrolment purposes.</p>
                <p>Some features include filereading for easy implementation of existing records, and admin management to add/remove students, grades, and courses.</p>
                
                <h3>Intro to Networking 1 Final Project - 2024</h3>
                <p>Network topology made in Packet tracer that showcased my ability to make proper subnets in a network.</p>
                <p>The topology involved an enterprise environment where each building in the network had a different amount of users and it was my responsibility to properly put each building into a subnet that fit the users.</p>
                
                <h3>Game Development Workshop 2 - Facets - 2023</h3>
                <p>Facets is a 2d pixelart style puzzle game where you play as a test subject in a facility.</p>
                <p>The general gameplay includes learning about what powers you have and using them to solve puzzles in each room.</p>
            </article> 
        </div>
<%- include ./partials/footer.ejs %>